
* {
    padding: 0;
    margin: 0;
}


.main {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgba(87, 83, 83, 0.5);
  }
  
.logo {
    color: rgb(243, 23, 23);
    font-size: 35px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: none;
}
  

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul li {
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(243, 10, 21);
}

.dropdown {
    position: relative;
}

.dropdown a{
    color:rgb(68, 17, 17);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e62416;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    
}

.dropdown-content a {
    display: block;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.menu-right {
    display: flex;
    align-items: center;
    margin-left: 110px;
}


   

.message {
    margin: auto 20px;
}
/*  */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 80%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Đăng ký */

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.button1 {
  background-color: #e00c04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius:5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button1:hover {
  opacity:1;
}


.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}


.container2 {
  padding: 16px;
}


.modal2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}


.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

.close2 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix2::after {
  content: "";
  clear: both;
  display: table;
}

.login{
    margin-right: 30px;
    margin-left: 20px;
}



.search {
   
    display: flex;
   margin-left:300px;
  
    
}

.srch {
    font-family: 'Times New Roman';
    width: 300px;
    height: 50px;
    border: 1px solid rgb(216, 20, 6);
    color: #fff;
    border-right: none;
    font-size: 15px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {

    width: 100px;
    height: 50px;
    background: rgb(226, 56, 4);
    border: 2px solid rgb(219, 12, 12);
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
 
    outline: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */



        /* SLide show */
        .slideshow-container1 {
            max-width: 800px;
            padding-top: 100px;
            position: relative;
            margin: auto;
          }
          
          
          .prev1, .next1 {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 10px;
            margin-top: 22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
          }
          
          
          .next1 {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          
          
          .prev1:hover, .next1:hover {
            background-color: rgba(0,0,0,0.8);
          }
          
          
          
          
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          
          
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          
          .active, .dot:hover {
            background-color: #717171;
          }
          
          
          .fade {
            animation-name: fade;
            animation-duration: 1.5s;
          }
          
          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
          
          
          @media only screen and (max-width: 300px) {
            .prev, .next,.text {font-size: 11px}
          }
  /* TOP COMPANY */

  .company-header_title{
    text-align: center;
    color:rgb(212, 19, 19);
  }
          .slideshow-container {
              position: relative;
              max-width: 800px;
              margin: 20px auto;
              overflow: hidden;
          }
  
          .slide-container {
              display: flex;
              transition: transform 0.3s ease-in-out;
          }
  
          .slide {
              flex: 0 0 25%;
              padding: 10px;
          }
  
          .top-company--item {
              background-color: #fff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              border-radius: 5px;
              padding: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
          }
  
          .top-company--item img {
              max-width: 100px;
              border-radius: 50%;
              margin-bottom: 10px;
          }
  
          .top-company__title {
              font-size: 15px;
              font-weight: bold;
              color: #333;
              margin: 0;
              margin-top: 10px;
              font-family: 'Times New Roman';
          }
  
          .top-company__badge {
              font-size: 11px;
              font-weight: bold;
              color: #0d0b0b;
              background-color: #f4f5f5;
              padding: 5px 10px;
              border-radius: 5px;
              margin-top: 5px;
          }
  
          .top-company__wrap-btn {
              margin-top: 10px;
          }
  
          .top-company__btn {
              font-size: 12px;
              font-weight: bold;
              color: #fff;
              background-color: #0b77eb;
              border: none;
              padding: 5px 10px;
              border-radius: 5px;
              cursor: pointer;
              display: flex;
              align-items: center;
          }
  
          .top-company__btn-follow {
              margin-right: 5px;
          }
  
          .material-symbols-outlined {
              font-family: 'Material Symbols Outlined';
              font-size: 24px;
              margin-right: 5px;
          }
          /* TOP WORK */
          .top-category-wrapper {
      width: 100%;
      max-width: 900px; 
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .top-category--item {
      text-align: center;
      width: 23%; 
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
  }
  
  .top-category__image img {
      max-width: 100px;
      height: auto;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  
  .top-category__name {
      margin: 10px 0;
  }
  
  .top-category__name a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 12px;
  }
  
  .top-category__caption {
      margin: 0;
      padding: 5px 0;
      background-color: #f2f2f2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #c61616;
      font-size: 9px;
  }

  

/* --------------------------------------------------test.html------------------------------------------------------------------------------ */


.CV { 
    padding: 50px 0; 
}
     .CV h1 { 
        font-family: var(--main-text-font);
        text-align: center;
        
        color: #333333;
         } 
         .CV1 {
           
             display:flex;
             } 
             .CV2 { 
                
                padding: 20px 30px;
                position:relative;
                 }
                 .CV2::before {
                
                    content: "";
                    width:85%;
                    height: 90%;
                    background-color: #f3d6cf;
                    position:absolute;
                    opacity:0;
                 }
                 .CV2:hover::before {
                    opacity:0.5;
                 }
                 .CV2:hover h2{
                    opacity:1;
                 }
                  .CV2 img {
                   width: 100%;
                    height: 400px;
                     
                     border-radius: 5px; 
                      
                  }
                     .CV2 h2 { 
                        font-family: var(--main-text-font);
                        
                         color: #333333;
                         position:absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity:0;
                    transition: all 0.5s ease;
                     }
/* --------------------------------------------------congviecit.html------------------------------------------------------------------------------ */

                     main {
                        padding: 50px;;
                      }
                    
                    
                    
                    .IT h2 {
                    color: rgb(109, 122, 114);
                    }
                    .IT1 {
                        display: flex;
                        
                    }

                    .IT {
                        border-radius: 20px;
                        position: relative;
                        border: 1px solid #0a0f0b;
                        padding: 200px;
                        margin-top: 50px;
                        margin-bottom: 20px;
                        background: url('https://icdn.dantri.com.vn/thumb_w/770/2022/03/01/hacker-nga-1646146686700.jpg') center/cover no-repeat;
                        text-align: center;
                    }
                    
                    .IT::before {
                        
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(17, 9, 9, 0.5); 
                        
                    }
                    

                    .IT h2 {
                        font-size: 50px;
                        position: relative;
                        color: whitesmoke;
                    }

                    
                    .IT h1{
                        font-size: 70px;
                        position: relative;

                        color: rgb(238, 1, 1);
                    }
       /* --------------------------------------------------------------------------------------------------------------------------------- */


                
                    .senior {
                        border-radius: 20px;
                        position: relative;
                        border: 1px solid #0a0f0b;
                        padding: 200px;
                        margin-top: 50px;
                        margin-bottom: 20px;
                        background: url('https://hrchannels.com/uptalent/attachments/images/20220721/095446646_senior-la-gi-1.jpg') center/cover no-repeat;
                        color: rgb(255, 255, 255); 
                        text-align: center;
                    }
                    
                    .senior::before {
                        
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5); 
                        z-index: 1; 
                    }
                    

                    .senior h2 {
                        font-size: 50px;
                        position: relative;
                        z-index: 2; 
                        color: whitesmoke;
                    }

                    
                    .senior h1{
                        font-size: 70px;
                        position: relative;
                        z-index: 2; 
                        color: rgb(238, 1, 1);
                    }

                   

                    select{
                    margin-right: 50px;
                    width: 200px;
                    left: 0;
                    height: 35px;
                    background-color: #edf5ed;
                    }

                    .left{
                        
                       
                        padding: 20px;
                    }
                    .right{

                        flex: 1;
                 text-align:center;               
                    }

                    .right p{
                        
                        
                        padding: 20px 20px;
                       font-size: 25px;
                       color:#33fa0c;
                       margin:30px 30px;
                    }

                    .right h2{
                        color:#de1818;
                        margin-bottom:10px;
                    }
                    .job {
                        border-radius: 10px;
                        border: 1px solid #cccccc;
                        padding: 50px;
                        margin-top: 50px ;
                        margin-bottom: 20px;
                        background-color: rgb(226, 233, 228);
                        color: rgb(68, 60, 70);
                        width: 100%;
                      }
                    
                      .job h2 {
                        margin: 0;
                      }
                    
                      .job p {
                        margin-top: 10px;
                      }
                    .container {
                        position: relative;
                    }
                    
                      .apply-button {
                        position: absolute;  
                        
                        padding: 10px 20px;
                        font-size: 13px;
                        font-weight: bold;
                        background-color: #de1818;
                        color: #FFFFFF;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-top: 10px;
                        margin-left: 700px;
                      }

                    
                    
                      .apply-button:hover {
                        background-color: #72b670;
                      }

                      .apply-button1 {
                        position: absolute;  
                        
                        padding: 20px 30px;
                        font-size: 13px;
                        font-weight: bold;
                        background-color: #de1818;
                        color: #FFFFFF;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-top: 10px;
                       margin-left:100px;   
                      }

                      .apply-button1:hover{
                        background-color: #72b670;
                      }
                    
                      .luong{
                    color:rgb(206, 73, 29);
                      }
                     
                      .checkbox{
                        
                      left: 0;
                      margin-top: 30px;
                      }

                      .all{
                        display:flex;
                        
                      }

            /* --------------------------------------------------------------------------------------------------------------------------------- */
        
                      .maucv1 {
                        position: relative;
                        padding: 200px;
                        margin-top: 50px;
                        margin-bottom: 20px;
                        color: rgb(7, 11, 6);
                        text-align: center;
                        left: 0;
                    }
                    
                    .maucv1::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url(https://cafefcdn.com/2019/8/22/edf-tempo-couleur-de-demain-la-edf-tempo-historique-couleur-jour-et-demain-15664469984471689659056.jpg);
                        background-size: 100%;
                        opacity: 0.3; 
                        z-index: -1; 
                    }
                    
                      .maucv1 h1{
                        color: rgb(233, 20, 20);
                        font-size: 80px;
                      }
                    
                      .maucv1 h2{
                        color: rgb(238, 235, 235);
                        font-size: 65px;
                      }
                    
                      .buttonmaucv{
                        position: absolute;  
                        padding: 10px 40px;
                        font-size: 30px;
                        font-weight: bold;
                        background-color: #d1c2c2;
                        color: #e7d5d5;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        padding-left: 40px;
                        padding-top: 10px;
                       left: 45%;
                       bottom:20%;
                       text-decoration: none;
                      }
                      .buttonmaucv:hover {
                        background-color: #d61010;
                      }
              





















                      .container {
                        max-width: 1200px;
                        margin: 0 auto;
                     
                    }
                    
                    .box-main {
                        display: flex;
                        justify-content: space-between;
                        background-color: #ffffff;
                        padding: 20px;
                        border-radius: 5px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    }
                    
                    .column {
                        flex-basis: 25%;
                    }
                    
                    .box-menu-item {
                        margin-bottom: 20px;
                    }
                    
                    .title {
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: #333333;
                    }
                    
                    .box-menu-child a {
                        display: block;
                        margin-bottom: 5px;
                        color: #666666;
                        text-decoration: none;
                    }
                    
                    .box-menu-child a:hover {
                        color: #ff0000;
                    }
                    
                    .box-social img {
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                    }
                    
                    .box-download .btn-download-app img {
                        margin-right: 10px;
                        width: 120px;
                        height: auto;
                    }
                    
                    .box-contact span {
                        font-weight: bold;
                        margin-right: 5px;
                        color: #333333;
                    }
                    
                    .box-contact a {
                        text-decoration: none;
                        color: #000000;
                    }
                    
                    .box-contact a:hover {
                        color: #ff0000;
                    }
                    .img-responsive bct-image{
                        height: 50px;
                        width: 80px;
                    }
